<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Desvirtualízate</h2>
                    <h3 class="section-subheading text-muted">La acción nace de la desvirtualización.</h3>
                </div>
				<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">¿Eres un ser humano? Desde que naciste, has vivido en un mundo real. Creado por átomos, átomos que comes, que pisas. El avatar es una creación humana, que nos desvirtua. Sal de esa lista de google, de las listas de clone wars, fpga wars, los foros de arduino, de ese github tan interesante. Sal a la calle, huele el aire fresco, y comparte con gente real esas cosas reales que te hacen perder el sueño</p>
				    <p class="large text-muted"> </p>
					<p class="large text-muted">Como ves no hay foro, solo un calendario, una lista de correo y un telegram para hablar. Pero para desvirtualizarnos. Para aparecer. Para enseñar. Para compartir. Porque ninguna revolución nació en una pantalla para tomar el mundo sin pisarlo, así que deja de leer, y únete en el próximo evento.</p>
					<p class="large text-muted">  </p>
					<p class="large text-muted"> ...  </p>
			   </div>
				</div>
            </div>
            
        </div>
		
		<div class="span6 center">
	<h3>Próximos eventos y reuniones</h3>
	<iframe src="https://calendar.google.com/calendar/embed?src=makersociety.svq%40gmail.com&ctz=Europe/Madrid" style="border: 0" width="800" height="600" frameborder="5" scrolling="no"></iframe>
	</div><!--/span-->
    </section>